.jsonExample{
    width: 100%;
    height: auto;
    border-radius: 0;
    border: 2px solid gray;
}
#demo{
    padding: 15px;
}
th,td{
    padding: 8px 12px;
}
.container > div{
    border: 1px solid black;
    padding: 25px;
}